div.about-wrap
    div.w-page.flex-center.wrapper
        div.about-content
            span.decor-word wo whe are
            span.decor-dot1
            span.decor-dot2
            span.decor-dot3
            div.about-img
                img(src="img/about.png", alt="")
            div.about-desc
                h2 About us
                p Our volunteer organization is based in Khmelnytsky in the west-central part of Ukraine. We help support regional shelters, hospitals and supply other cities affected by the war with Russia
                p The city of Khmelnytsky has become one of the most popular places of refuge for those fleeing the war from the eastern and northern regions of Ukraine.
                p We help maintain regional shelters, hospitals and supply other cities affected by the war with Russia
                a(href="#").btn
                    svg
                        use(xlink:href="../img/sprite.svg#heart_d")
                    span document
