div.contacts-wrap
    div.w-page.wrapper
        div.contacts-content
            span.decor-word Our contacts
            span.decor-dot1
            span.decor-dot2
            span.decor-dot3
            div.contacts-desc
                h2 Contacts
                div.contacts-link
                    a(href="#")
                        span.svg
                            svg
                                use(xlink:href="../img/sprite.svg#nav")
                        span.tt Adress
                        span Khmelnitskyi, Ukraine 46, Shevchenko str. 29000
                    a(href="mailto:ufuture.project@gmail.com")
                        span.svg
                            svg
                                use(xlink:href="../img/sprite.svg#mail_b")
                        span.tt email
                        span ufuture.project@gmail.com
                    a(href="instagram.com/ufuture.project")
                        span.svg
                            svg
                                use(xlink:href="../img/sprite.svg#inst_b")
                        span.tt Instagram
                        span instagram.com/ufuture.project
                    a(href="tel:380 93 883 03 95")
                        span.svg
                            svg
                                use(xlink:href="../img/sprite.svg#phone_b")
                        span.tt Phone
                        span +380 93 883 03 95
                div.contacts-btn
                    a(href="#").btn
                        span 
                            svg
                                use(xlink:href="../img/sprite.svg#heart_d")
                        span document        
                    a(href="#").btn
                        span 
                            svg
                                use(xlink:href="../img/sprite.svg#heart_d")
                        span donate        
