div.header-wrap
    div.w-page.flex-center
        div.header-logo
            svg
                use(xlink:href="img/sprite.svg#ufuture_logo")
        div.header-social 
            a(href="tel:380938830395")
                svg
                    use(xlink:href="img/sprite.svg#phone")
                span +380 93 883 03 95
            a(href="mailto:ufuture.project@gmail.com") 
                svg
                    use(xlink:href="img/sprite.svg#mail")
                span ufuture.project@gmail.com
            a(href="https://www.instagram.com/ufuture.project/")
                svg
                    use(xlink:href="img/sprite.svg#instagram")
                span ufuture.project

        div.nav-menu-wrapp
              nav
                li 
                    a(href="#") About
                    span.circle 
                li 
                    a(href="#") Our mission
                    span.circle
                li 
                    a(href="#") Result
                    span.circle
                li 
                    a(href="#") Contacts
                    span.circle
                li 
                    a(href="#") Details
                        
        div.btn-lang
            select(name="#") 
                option(value="#") en
                option(value="#") uk 
                option(value="#") pl
            a(href="#") 
                svg
                    use(xlink:href="img/sprite.svg#heart_d")
                span donate 
    
            
        
