a(name="Home") 
div.home-wrap
    div.w-page.flex-center.wrapper
        div.home-content
            .navigator-wrap 
                .dot 
                    a(href="#Home")  
                        span.change
                            span.circle-change
                        span.name Home
                    a(href="#About")
                        span
                    a(href="#Mission")
                        span
                    a(href="#Galery")
                        span
                    a(href="#Contacts")
                        span 
            span.decor-word ukraine
            span.decor-dot1
            span.decor-dot2
            span.decor-dot3
            span.to-down
                svg 
                    use(xlink:href="img/sprite.svg#to-down")
            span.bgc-liner
            div.home-desc
                h1 Non-governmental organization 
                    span “UFuture“
                p Collection and distribution of aid to war-affected areas, as well as assistance to refugees in our hometown of Khmelnytsky, Ukraine.
            div.map 
        