div.home-wrap
    div.w-page.flex-center.wrapper
        include componets/navigator
        div.home-content
            span.decor-word ukraine
            span.decor-dot1
            span.decor-dot2
            span.decor-dot3
            span.to-down
                svg 
                    use(xlink:href="img/sprite.svg#to-down")
            span.bgc-liner
            div.home-desc
                h1 Non-governmental organization 
                    span “UFuture“
                p Collection and distribution of aid to war-affected areas, as well as assistance to refugees in our hometown of Khmelnytsky, Ukraine.
            div.map 
        