div.mission-wrapp
    div.w-page.wrapper
        div.misson-content
            span.decor-word what we do
            div.mission-desc
                h2 Our mission 
                div.mission-link
                    a(href="#")
                        svg 
                            use(xlink:href="../img/sprite.svg#store")
                        span Humanitarian aid to refugees
                    a(href="#")
                        svg 
                            use(xlink:href="../img/sprite.svg#people")
                        span Social projects
                    a(href="#")
                        svg 
                            use(xlink:href="../img/sprite.svg#tank")
                        span Assistance to hospitals and the army
                div.social-project
                    div.content-wrap
                        img(src="../img/mission.png", alt="")
                        div
                            h4 Social projects
                            p Our assistance provides urgent, life-saving support, including food, shelter, safe drinking water, improved sanitation and hygiene, emergency.
                            p.strong Emergency healthcare services, child protection programs, and education, among other activities:
                            ul 
                                li Including food, shelter, safe drinking water, improved 
                                li Provides resources and networking opportunities for past
                                li Find exchange programs for both domestic and foreign audiences.
                            a(href="#").btn
                                svg
                                    use(xlink:href="../img/sprite.svg#heart_d")
                                span more details
