a(name="Mission") 
div.mission-wrapp
    div.w-page.wrapper
        div.misson-content
            .navigator-wrap 
                .dot 
                    a(href="#Home")  
                        span
                    a(href="#About")
                        span
                    a(href="#Mission")
                        span.change
                            span.circle-change
                        span.name Our mission
                    a(href="#Galery")
                        span
                    a(href="#Contacts")
                        span 
            span.decor-word what we do
            span.decor-dot1
            span.decor-dot2
            span.decor-dot3
            div.mission-desc
                h2 Our mission 
                div.mission-link
                    a(href="#")
                        svg 
                            use(xlink:href="../img/sprite.svg#store")
                        span Humanitarian aid to refugees
                    a(href="#")
                        svg 
                            use(xlink:href="../img/sprite.svg#people")
                        span Social projects
                    a(href="#")
                        svg 
                            use(xlink:href="../img/sprite.svg#tank")
                        span Assistance to hospitals and the army
                div.social-project
                    div.content-wrap
                        img(src="../img/mission.png", alt="")
                        div
                            h4 Social projects
                            p Our assistance provides urgent, life-saving support, including food, shelter, safe drinking water, improved sanitation and hygiene, emergency.
                            p.strong Emergency healthcare services, child protection programs, and education, among other activities:
                            ul 
                                li Including food, shelter, safe drinking water, improved 
                                li Provides resources and networking opportunities for past
                                li Find exchange programs for both domestic and foreign audiences.
                            a(href="our-project.html").btn
                                svg
                                    use(xlink:href="../img/sprite.svg#heart_d")
                                span more details
