doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
        link(rel="stylesheet", href="css/styles.css")
        title UFuture
    body
        div.w-header 
            include components/header
            span.bread-crubs.w-page
                span Home /
                span Out project
            div.our-ptoject-wrap.w-page
                    div.our-ptoject-desc
                        p Мистецтво завжди було безпечним середовищем, в якому та через яке можна виразити свої думки та емоції. Мистецтво має силу там, де закінчились слова, коли не вистачає сил на розуміння подій, що відбуваються з нами попри нашу на те волю. У війни тисячі облич, у кожної своє. Наше - горде та переможне.
                        p Війна показала нам, що є події у нашому житті, які кардинально змінюють наше уявлення про світ, наші пріоритети, цінності. Ми бачимо руїни, міни у землі - але земля відроджується, ми це бачили незліченну кількість разів. Розтрощені будинки - їх відбудуємо, побудуємо краще, нове. Людина - це єдиний елемент у ланцюгу трагічних подій, війна по якому не проходить безслідно. 
                        p Проект спрямований на залучення місцевих жителів та переселенців до мистецтва, де все у просторі буде націлене на відновлення емоційного стану людини.
                        p Головним центром даної інсталяції є людина - її місце у контексті подій, що сталися навколо нас, переосмислення крихкості людського життя. Людина є безпосередньою частиною та учасником процесу.
                        p Інсталяція символізує Україну, яка зараз у війні. Це є призма сприйняття реальності. В центрі кубу - людина. Усвідомлення кожної людини її місця зараз під час війни. Ти можеш бачити себе через синій - символ свободи, неба, простору, бачення майбутнього. Можеш бачити оточуючий світ через жовтий - символ землі, пшеничного колосся, сонця, тепла, світла, надії. І є червоний. Люди, що бачили руйнацію та смерть, що безперестанку слухали сирени та вибухи, пам'ятають про це, це свіжі спогади, воно болить, воно не заживає, воно кровоточить. І воно залишається з нами на все життя.
                        p Важливо бачити, що є навколо тебе синій, жовтий кольори, а також є вільний простір, через який заходить людина - там цілий світ, там продовжується життя. 
                        p Якщо раніше ми могли говорити, що ми різні, у нас різні погляди на життя та як ми його проживаємо, різні думки та відчуття, зараз ми об'єднані, як ніколи, уся країна має спільну травму, адже немає жодного українця - серед тих, що залишились в Україні, чи тих, хто вимушено залишив рідні доміки і поїхав за кордон - кого б не зачепила війна найжахливішим способом. 
                        p Мистецькі цілі інсталяції - за допомогою об'єкту переосмислити своє місце у світі, зробити крок за межі "заданого" нам кубу, побачити інші кольори; дослідити межі зв'язку людини і об'єкту мистецтва; відчуття свого тіла у просторі, а точніше повернення цього відчуття, яке могло загубитись за реаліями воєнного часу.
                        p Проект є способом повернути собі контроль, можливість перебороти своїх внутрішніх демонів. Беручи безпосередню участь у процесі, індивідуальний досвід перетворюється на колективний і створює потужне повідомлення - ми тут, ми живі, ми присутні, ми змінились, та це нас зробить сильнішими.



        footer 
            include components/footer

